.form-wrapper {
  height: calc(100vh - 250px);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 15px;
}
.form-title {
  font-size: 27px;
  color: teal;
  margin-bottom: 15px;
}

.form {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 340px;
}
.form input {
  margin-bottom: 20px;
  border: 2px solid teal;
  font-size: 21px;
  padding: 6px;
}
.form input:focus {
  outline: none;
}

.form-btn {
  width: 100%;
  background-color: var(--primery-color);
  color: #fff;
  cursor: pointer;
  font-weight: 700;
  font-size: 21px;
  padding: 7px;
  border: none;
}

.form-footer {
  margin-top: 0px;
  font-size: 17px;
  font-weight: 600;
}

.forms-link {
  margin-left: 10px;
  text-decoration: none;
}

.show-password {
  position: absolute;
  top: 68px;
  right: 10px;
  color: teal;
  cursor: pointer;
  font-size: 21px;
}

@media (max-width: 520px) {
  .form-wrapper {
    height: auto;
  }
}
