.book {
  padding: 30px;
}

.book-content {
  display: flex;
  margin-bottom: 20px;
  align-items: center;
}
img {
  width: 30%;
  height: 100%;
  object-fit: contain;
  box-shadow: 0 0 1px 2px snow;
  border-radius: 7px;
  margin-right: 20px;
  background-color: snow;
}

.book-content-info {
  margin-left: 40px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* height: 70vh; */
}
.book-title {
  font-size: 32px;
}
.book-describtion {
  line-height: 1.8;
  width: 80%;
  font-size: 21px;
}

.book-info-plus {
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.book-add-to-cart {
  margin: 10px 0;
  width: 100px;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid gray;

  margin-right: 15px;
  font-size: 25px;
  font-weight: 600;
  padding: 5px 10px;
}

.btn-add-to-cart {
  background-color: transparent;
  border-radius: 7px;
  font-size: 21px;
  padding: 5px 10px;
  margin: 10px 0;
  cursor: pointer;
  color: green;
  font-weight: 600;
  transition: all 0.3 ease;
}
.btn-add-to-cart:hover {
  background-color: aquamarine;
}
.author-book {
  color: gray;
  font-size: 21px;
  margin: 15px 0;
  font-weight: 600;
}

.author-book span {
  color: teal;
}

.book-icons {
  margin: 30px 0px;
  display: flex;
  align-items: center;
  /* justify-content: space-around; */
}
.book-icon {
  margin-right: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 21px;
  color: teal;
}

.book-icon small {
  font-weight: 600;
}
.book-icon i {
  font-size: 32px;
  margin: 5px 0;
}

/* Media query */

@media (max-width: 720px) {
  .book {
    padding: 30px 15px;
  }
  .book-describtion {
    width: 100%;
  }

  .book-add-to-cart {
    margin-bottom: 15px;
  }
}

@media (max-width: 520px) {
  .book-content {
    flex-direction: column;
  }
  img {
    width: 100%;
  }
  .book-content-info {
    width: 100%;
    margin-top: 15px;
  }

  .book-icons {
    flex-direction: column;
  }

  .book-icon {
    margin-right: 0px;
    margin-bottom: 50px;
    font-size: 25px;
  }
}
